header{
    /* width: 406px;
    height: 140px; */
    background-color: var(--background-tertiery-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo{
    display: inline-block;
    width: 68px;
    height: 68px;
}

.navegation-menu{
    margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav{
    position: absolute;
    display: block;
    top: 16%;
    left: 0;
    width: 100%;
    background-color: var(--background-tertiery-color);
}

nav{
    display: none;
}

.list-links{
    list-style: none;
}

.list-links li a{
    color: var(--text-secondary-color);
    text-decoration: none;
    margin: 16px 0;
}

.list-links li{
    margin: 16px 0;
}