.offers-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.card{
    color: var(--text-secondary-color);
    background-color: black;
    padding: 24px 16px;
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    text-align: center;
    border-radius:16px ;
}

.card header{
    display: block;
    background-color: transparent;
    position: static;
    padding: 0;
    margin-bottom: 24px;
}

.card header p{
    font-size: 20px;
    line-height: 32px;
    font-weight: var(--text-weight);
  }

.card header h3{
    font-size: 40px;
    font-weight: var(--title-weight);
    margin: 8px 0 0;
}

.card header span{
    font-size: 32px;
  margin-top: 24px;
  display: inline-block;
}

.card.japão{
    background: url(../img/Card\ japão.png) no-repeat;
    background-size: cover;
}

.card.San-andreas{
    background: url(../img/Card\ San-Andreas.jpg) no-repeat;
    background-size: cover;
}

.card.Paraíba{
    background: url(../img/Card\ Paraíba.jpg) no-repeat;
    background-size: cover;
}

.card.Manaus{
    background: url(../img/Card\ Manaus.jpg) no-repeat;
    background-size: cover;
}

@media screen and (min-width:768px) {
    .offers-cards{
       flex-direction: row;
       flex-wrap: wrap;
       justify-content: center;
    }

}

@media screen and (min-width: 1024px) {
    .card{
        width: 420px;
        height: 308px;
    }
    
    .card header h3{
        font-size: 48px;
       
    }

    .card header span{
        font-size: 40px;
    }
}

@media screen and (min-width: 1024px){
    .card{
        width: 588px;
    }
}

@media screen and (min-width: 1920px){
    .offers-cards{
        width: 1250px;
        margin: 0 auto;
    }
}